<link rel="stylesheet" href="../static/styles.css">
{% extends 'base.html' %}

{% block content %}
    
    <div class="jumbotron">
        <div class="container">
            <h1>Welcome to Dev&lt;/log&gt;...</h1>
            <h4>A social site for developers</h4>
            <small><strong>Not registered yet?</strong> click the register button below</small>
            <div class="container">
                <div class="row">
                        <a class="btn btn-primary" href="{{ url_for('main.sign_up') }}">Sign Up</a>
                </div>
            </div>


            
        </div>

    </div>

    <footer class="footer bg bg-dark">
        <div class="container">
            <p>Hey, I am the footer</p>
        </div>
    </footer>
{% endblock %}