{% extends 'base.html' %}

{% block content %}
    
    <div class="jumbotron">
        <div class="container">
            <h1>Welcome to Dev&lt;/log&gt;..</h1>
            <h4>A social site for developers</h4>
            <small><strong>Not registered yet?</strong> click the register button below</small>
            <div class="container">
                <div class="row">
                        <a class="btn btn-primary" href="#">Sign Up</a>
                </div>
            </div>


            
        </div>

    </div>
{% endblock %}