{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for('main.index') }}">Dev&lt;/log&gt;</a>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('main.index') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('main.display_all_posts') }}">Posts <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Stack<span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="height: 25px;">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="height: 35px;">Search</button>
            </form>
            
            <ul class="navbar-nav mt-2 mt-lg-0">
                <!-- Sign Up -->
                <li class="nav-item active" style="padding-left:15px;">
                    <a href="{{ url_for( 'main.sign_up') }}" style="text-decoration: none; color: white;"><i class="fas fa-user-plus" style="color: white;"></i> Sign Up</a>
                </li>
                <!-- Login -->
                <li class="nav-item active" style="padding-left:15px;">
                    <a href="{{ url_for( 'main.login') }}" style="text-decoration: none; color: white;"><i class="fas fa-sign-in-alt" style="color: white;"></i> Login</a>
                </li>
                
                <!-- Profile Pic -->
                <a href=" {{ url_for('main.profile') }} "><img src="../static/profile_pic.jpg" alt="prof_pic" style="border-radius: 50%; width: 30px; height: 30px; margin-right: 5px; margin-left: 15px; margin-top: 0; margin-bottom:0;"></a>

            </ul>
        </div>
      </nav>

{% endblock %}