{% extends 'base.html' %}
{% block content %}
<div style="padding-top: 25px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4" style>
                <div class="card">
                    <div class="card-header">
                        <div style="text-align: center;">

                                    

                                    <!-- Profile pic goes here -->
                                    <img src="../static/profile_pic.jpg" alt="profile_pic" style="border-radius: 50%; width: 150px; height: 150px;">
                                    <!-- Username goes here -->
                                    <h5 class="card-title">Username</h5>

                                    <!-- Toggle profile picture here -->
                                    <a class="toggle btn btn-primary"><i class="fas fa-upload"></i> Upload Profile Picture</a>

                                    <!-- Upload profile pic here -->
                                    <form method="post" enctype ="multipart/form-data" id="upload">
                                    <div class="custom-file">
                                            <label class="custom-file-label" for="inputGroupFile01">Upload Pic</label>
                                        <input type="file" name="photo" class="custom-file-input" id="inputGroupFile01" required>
                                    </div>
                                    <input class="btn btn-success" type="submit">
                                    </form>

                                
                                {% block script %}
                                    <script type="text/javascript">
                                        $(document).ready(function(){
                                            $(".toggle").click(function(){
                                                $("#upload").toggle();
                                            });
                                        });
                                    </script>
                                {% endblock %}
                        </div>
                    </div>

                    <div class="card-body">
                        <!-- Bio goes here -->
                        <div style="text-align: center;">
                            <h5 class="card-title text-center" style="text-align: center;">Bio</h5>
                            <p>Insert brief description about yourself</p>
                        </div>

                        <!-- Description goes here -->
                        <div style="text-align: center;">
                            <h5 class="card-title text-center">Stack</h5>
                            <p>Insert brief description about your stack</p>
                        </div>
                        
                    </div>


                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>
{% endblock %}